@media only screen and (max-width: 1366px) {
    .head-number a, .head-book a{
        padding: 5px;
    }
    .head-number {
        margin-right: 5px;
    }
    .menu ul li a{
        padding: 5px;
    }
}
@media only screen and (max-width: 1280px) {
    .offer-box{
        padding: 10px;
    }
    .offer-box h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1199px) {
    .head-right{
        flex-direction: column;
        padding: 10px;
        align-items: flex-end;
    }
    .menu{
        order: 2;
    }
    .menu ul li {
        margin: 1rem 10px;
    }
    .adv-section .wrap-inner{
        max-width: 700px;
    }
    .offer-box{
        max-width: 100%;
    }
    .footercol-four{
        width: 100%;
        order: 2;
    }
    .footercol-eight{
        width: 100%;
        order: 1;
    }
    .contact-us-col{
        width: 60%;
    }
    .reviewbox-col{
        width: 40%;
    }
    .footercol-five{
        width: 35%;
    }
    .footercol-five{
        width: 50%;
    }
    .footercol-seven{
        width: 50%;
    }
    .contact-us-details, .office-hours, .contact-us-form h4{
        text-align: center;
    }
    .office-hours-box{
        justify-content: center;
    }
}
@media only screen and (max-width: 991px) {
    .nav-toggle{
        display: block;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        order: 1;
    }
    .menu ul li{
        padding: 0px;
        margin: 10px 5px;
    }
    ul.nav-menu{
		position:absolute;
		top:50px;
		width:100%;
		height:0;
		padding:0;
		overflow:hidden;
	}
	ul.nav-menu.active{
		height:auto;
        display: block;
        background-color: #4cbef1;
        z-index: 99;
        text-align: center;
        top: 147px;
        width: 260px;
        right: 30px;
	}
	ul.nav-menu li a{
		width:100%;
		text-align:left ;
        color: #ffffff;
        display: block;
	}
    .menu ul li .active, .menu ul li a:hover, .menu ul li a{
        border: 0px;
    }
    .menu ul li{
        margin: 1rem 5px;
    }
    .menu ul li a{
        font-size: 14px;
    }
    #logo{
        text-align: center;
        top: 0px;
    }
    .menu{
        order: 2;
    }
    .head-addresssocial{
        justify-content: center;
    }
    .banner-caption .wrap-inner{
        justify-content: center;
    }
    .banner-text h2{
        font-size: 22px;
    }
    .banner-text p{
        font-size: 18px;
    }
    .banner-btn{
        padding: 8px;
    }
    .adv-section, .clinic-section, .services-section, .discountplan-section, .offer-section, .blog-section{
        padding: 40px 0px;
    }
    .about-col{
        width: 100%;
    }
    .about-info{
        max-width: 100%;
        margin-bottom: 20px;
    }
    .aboutclinic-photo{
        max-width: 550px;
        margin: auto;
    }
    .hmclinic{
        height: 350px;
    }
    .offer-box{
        height: 170px;
        max-width: 100%;
    }
    .footercol-four{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 767px) {
    .banner-caption{
        height: 100%;
        top: 0;
    }
}
@media only screen and (max-width: 767px) {
    .head-main .wrap-inner{
        justify-content: center;
        flex-direction: column;
        padding: 15px 0px;
    }
    .head-right{
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .nav-toggle{
        position: relative;
    }
    .header-top{
        padding: 0px;
    }
    .head-btn{
        order: 2;
    }
    .head-addresssocial{
        justify-content: center;
        flex-direction: column;
    }
    .head-address, .head-socialmedia{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul.nav-menu.active{
        left: 0;
        right: 0;
        margin: auto;
        top: 260px;
    }
    .hmbanner .item{
        height: 320px;
        background-position: center center; 
    }
    .banner-caption{
        height: auto;
        bottom: 0;
    }
    .banner-caption .wrap-inner{
        text-align: center;
        background-color: #ffffff7d;
        padding: 10px;
    }
    .banner-text{
        width: 100%;
        text-align: center;
    }
    .adv-col{
        width: 100%;
    }
    .adv-info{
        margin-bottom: 20px;
    }
    .hmclinic{
        height: 280px;
    }
    .discountplan-col{
        width: 100%;
    }
    .discountplan-box{
        margin-top: 10px;
    }
    .discountplan-box ul{
        display: flex;
        flex-direction: column;
    }
    .discountplan-col:first-child::after, .discountplan-col:last-child::after{
        display: none;
    }
    .discountplan-col:first-child::before, .discountplan-col:nth-child(2)::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
        height: 3px;
        border-bottom: 3px solid #4cbef1;
    }
    .discountplan-section .wrap-inner h2, .discountplan-box span{
        margin-bottom: 10px;
    }
    .discountplan-box h3{
        font-size: 22px;
    }
    .offer-box{
        max-width: 100%;
    }
    .moreblog-box{
        text-align: center;
    }
    .contact-us-col{
        width: 100%;
    }
    .reviewbox-col{
        width: 100%;
        margin-top: 20px;
    }
    .review-box{
        text-align: center;
    }
    .contact-us-row{
        justify-content: center;
    }
    .footer-group{
        width: 100%;
    }

}
@media only screen and (max-width: 575px) {
    .banner-text h2{
        font-size: 20px;
    }
    .banner-text p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .banner-btn{
        padding: 5px;
    }
    .offer-box{
        height: auto;
    }
    .footer-colsix{
        width: 100%;
    }
    .contact-us-form .footer-colsix:nth-child(1) {
        order: 1;
    }
    .contact-us-row .footer-colsix {
        order: 2;
    }
    .footer-submit{
        order: 3;
    }
    .footercol-five{
        width: 100%;
        order: 2;
        margin-top: 20px;
    }
    .footercol-seven{
        width: 100%;
        order: 1;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 480px) {
    .head-number a, .head-book a{
        padding: 5px;
        border: 3px solid #4cbef1;
        font-size: 12px;
    }
    .head-number a:hover, .head-book a:hover{
        border: 3px solid #4cbef1;
    }
    .head-right{
        flex-direction: column;
        padding: 0;
    }
    ul.nav-menu.active{
        top: 270px;
    }
    .nav-toggle{
        order: 2;
    }
    .hmbanner .item{
        background-position: center left 25%;
    }
    .head-btn{
        order: 1;
        padding-right: 0px;
    }
    .box-info{
        max-width: 350px;
        margin: auto;
    }
}
@media only screen and (max-width: 441px){
    ul.nav-menu.active {
        top: 285px;
    }
}